In [1]:
import warnings
warnings.simplefilter(action='ignore', category=UserWarning) 
import requests

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

In [2]:
url = "https://t.ly/demographic"
url2 = "https://t.ly/projection"

In [3]:
def check_status(url):
    try:
        request = requests.get(url)
        request.raise_for_status()  # returns an HTTPError if the response is not OK
        print("All good! Response code is", request.status_code)
    except requests.exceptions.HTTPError as err:
        if request.status_code == 404:
            print("404: Oops, sorry we can't find that page!")
        else:
            print("The error code is", err.args[0]) # look up the 1st argument from HTTPError
        return None

In [4]:
check_status(url)

All good! Response code is 200

In [5]:
response = requests.get(url)

if response.status_code == 200:
    info = response.json()

In [6]:
type(info)

dict

In [7]:
df = pd.DataFrame([info])

In [8]:
df

,version,class,label,source,updated,value,status,id,size,dimension,extension
0,2.0,dataset,Demographic balance and crude rates by metropo...,ESTAT,2023-05-24T23:00:00+0200,"{'8303': -9.3, '8304': -14.3, '8305': -12.6, '...","{'8318': 'e', '10': 'b', '11': 'b', '12': 'b',...","[freq, indic_de, metroreg, time]","[1, 3, 367, 23]","{'freq': {'label': 'Time frequency', 'category...","{'lang': 'EN', 'id': 'MET_GIND3', 'agencyId': ..."

In [9]:
info.keys()

dict_keys(['version', 'class', 'label', 'source', 'updated', 'value', 'status', 'id', 'size', 'dimension', 'extension'])

In [10]:
info['id']

['freq', 'indic_de', 'metroreg', 'time']

In [11]:
info['dimension']['metroreg']['category']['index']

{'BE': 0,
 'BE001MC': 1,
 'BE002M': 2,
 'BE003M': 3,
 'BE004M': 4,
 'BE005M': 5,
 'BE007M': 6,
 'BE_NM': 7,
 'BG': 8,
 'BG001MC': 9,
 'BG002M': 10,
 'BG003M': 11,
 'BG004M': 12,
 'BG_NM': 13,
 'CZ': 14,
 'CZ001MC': 15,
 'CZ002M': 16,
 'CZ003M': 17,
 'CZ004M': 18,
 'CZ_NM': 19,
 'DK': 20,
 'DK001MC': 21,
 'DK002M': 22,
 'DK003M': 23,
 'DK004M': 24,
 'DK_NM': 25,
 'DE': 26,
 'DE001MC': 27,
 'DE002M': 28,
 'DE003M': 29,
 'DE004M': 30,
 'DE005M': 31,
 'DE007M': 32,
 'DE008M': 33,
 'DE009M': 34,
 'DE011M': 35,
 'DE012M': 36,
 'DE013M': 37,
 'DE014M': 38,
 'DE017M': 39,
 'DE018M': 40,
 'DE019M': 41,
 'DE020M': 42,
 'DE021M': 43,
 'DE025M': 44,
 'DE027M': 45,
 'DE028M': 46,
 'DE031M': 47,
 'DE032M': 48,
 'DE033M': 49,
 'DE034M': 50,
 'DE035M': 51,
 'DE036M': 52,
 'DE037M': 53,
 'DE038M': 54,
 'DE039M': 55,
 'DE040M': 56,
 'DE042M': 57,
 'DE043M': 58,
 'DE044M': 59,
 'DE045M': 60,
 'DE052M': 61,
 'DE054M': 62,
 'DE057M': 63,
 'DE059M': 64,
 'DE061M': 65,
 'DE064M': 66,
 'DE069M': 67,
 'DE073M': 68,
 'DE074M': 69,
 'DE077M': 70,
 'DE079M': 71,
 'DE083M': 72,
 'DE084M': 73,
 'DE504M': 74,
 'DE507M': 75,
 'DE510M': 76,
 'DE513M': 77,
 'DE517M': 78,
 'DE520M': 79,
 'DE522M': 80,
 'DE523M': 81,
 'DE524M': 82,
 'DE527M': 83,
 'DE529M': 84,
 'DE532M': 85,
 'DE533M': 86,
 'DE534M': 87,
 'DE537M': 88,
 'DE540M': 89,
 'DE542M': 90,
 'DE544M': 91,
 'DE546M': 92,
 'DE548M': 93,
 'DE549M': 94,
 'DE_NM': 95,
 'EE': 96,
 'EE001MC': 97,
 'EE_NM': 98,
 'IE': 99,
 'IE001MC': 100,
 'IE002M': 101,
 'IE_NM': 102,
 'EL': 103,
 'EL001MC': 104,
 'EL002M': 105,
 'EL_NM': 106,
 'ES': 107,
 'ES001MC': 108,
 'ES002M': 109,
 'ES003M': 110,
 'ES004M': 111,
 'ES005M': 112,
 'ES006M': 113,
 'ES007M': 114,
 'ES008M': 115,
 'ES009M': 116,
 'ES010M': 117,
 'ES012M': 118,
 'ES013M': 119,
 'ES014M': 120,
 'ES015M': 121,
 'ES019M': 122,
 'ES020M': 123,
 'ES021M': 124,
 'ES022M': 125,
 'ES025M': 126,
 'ES026M': 127,
 'ES501M': 128,
 'ES510M': 129,
 'ES522M': 130,
 'ES_NM': 131,
 'FR': 132,
 'FR001MC': 133,
 'FR003M': 134,
 'FR004M': 135,
 'FR006M': 136,
 'FR007M': 137,
 'FR008M': 138,
 'FR009M': 139,
 'FR010M': 140,
 'FR011M': 141,
 'FR013M': 142,
 'FR014M': 143,
 'FR015M': 144,
 'FR016M': 145,
 'FR018M': 146,
 'FR019M': 147,
 'FR020M': 148,
 'FR021M': 149,
 'FR022M': 150,
 'FR023M': 151,
 'FR024M': 152,
 'FR025M': 153,
 'FR026M': 154,
 'FR030M': 155,
 'FR035M': 156,
 'FR036M': 157,
 'FR037M': 158,
 'FR038M': 159,
 'FR040M': 160,
 'FR043M': 161,
 'FR044M': 162,
 'FR045M': 163,
 'FR048M': 164,
 'FR203M': 165,
 'FR205M': 166,
 'FR520M': 167,
 'FR_NM': 168,
 'HR': 169,
 'HR001MC': 170,
 'HR005M': 171,
 'HR_NM': 172,
 'IT': 173,
 'IT001MC': 174,
 'IT002M': 175,
 'IT003M': 176,
 'IT004M': 177,
 'IT005M': 178,
 'IT006M': 179,
 'IT007M': 180,
 'IT008M': 181,
 'IT009M': 182,
 'IT010M': 183,
 'IT011M': 184,
 'IT012M': 185,
 'IT016M': 186,
 'IT022M': 187,
 'IT027M': 188,
 'IT028M': 189,
 'IT029M': 190,
 'IT501M': 191,
 'IT502M': 192,
 'IT503M': 193,
 'IT505M': 194,
 'IT511M': 195,
 'IT_NM': 196,
 'CY': 197,
 'CY001MC': 198,
 'LV': 199,
 'LV001MC': 200,
 'LV_NM': 201,
 'LT': 202,
 'LT001MC': 203,
 'LT002M': 204,
 'LT_NM': 205,
 'LU': 206,
 'LU001MC': 207,
 'HU': 208,
 'HU001MC': 209,
 'HU002M': 210,
 'HU004M': 211,
 'HU005M': 212,
 'HU009M': 213,
 'HU_NM': 214,
 'MT': 215,
 'MT001MC': 216,
 'MT_NM': 217,
 'NL': 218,
 'NL001M': 219,
 'NL002MC': 220,
 'NL003M': 221,
 'NL004M': 222,
 'NL005M': 223,
 'NL006M': 224,
 'NL007M': 225,
 'NL008M': 226,
 'NL009M': 227,
 'NL012M': 228,
 'NL015M': 229,
 'NL507M': 230,
 'NL511M': 231,
 'NL_NM': 232,
 'AT': 233,
 'AT001MC': 234,
 'AT002M': 235,
 'AT003M': 236,
 'AT004M': 237,
 'AT005M': 238,
 'AT_NM': 239,
 'PL': 240,
 'PL001MC': 241,
 'PL002M': 242,
 'PL003M': 243,
 'PL004M': 244,
 'PL005M': 245,
 'PL006M': 246,
 'PL007M': 247,
 'PL008M': 248,
 'PL009M': 249,
 'PL010M': 250,
 'PL011M': 251,
 'PL012M': 252,
 'PL014M': 253,
 'PL015M': 254,
 'PL016M': 255,
 'PL024M': 256,
 'PL025M': 257,
 'PL506M': 258,
 'PL514M': 259,
 'PL_NM': 260,
 'PT': 261,
 'PT001MC': 262,
 'PT002M': 263,
 'PT005M': 264,
 'PT_NM': 265,
 'RO': 266,
 'RO001MC': 267,
 'RO002M': 268,
 'RO003M': 269,
 'RO004M': 270,
 'RO501M': 271,
 'RO502M': 272,
 'RO503M': 273,
 'RO504M': 274,
 'RO505M': 275,
 'RO_NM': 276,
 'SI': 277,
 'SI001MC': 278,
 'SI002M': 279,
 'SI_NM': 280,
 'SK': 281,
 'SK001MC': 282,
 'SK002M': 283,
 'SK_NM': 284,
 'FI': 285,
 'FI001MC': 286,
 'FI002M': 287,
 'FI003M': 288,
 'FI_NM': 289,
 'SE': 290,
 'SE001MC': 291,
 'SE002M': 292,
 'SE003M': 293,
 'SE006M': 294,
 'SE_NM': 295,
 'IS': 296,
 'IS_NM': 297,
 'LI': 298,
 'LI_NM': 299,
 'NO': 300,
 'NO001MC': 301,
 'NO002M': 302,
 'NO003M': 303,
 'NO004M': 304,
 'NO_NM': 305,
 'CH': 306,
 'CH001M': 307,
 'CH002M': 308,
 'CH003M': 309,
 'CH004MC': 310,
 'CH005M': 311,
 'CH006M': 312,
 'CH007M': 313,
 'CH_NM': 314,
 'UK': 315,
 'UK001MC': 316,
 'UK002M': 317,
 'UK003M': 318,
 'UK004M': 319,
 'UK005M': 320,
 'UK006M': 321,
 'UK007M': 322,
 'UK008M': 323,
 'UK009M': 324,
 'UK010M': 325,
 'UK011M': 326,
 'UK012M': 327,
 'UK013M': 328,
 'UK014M': 329,
 'UK016M': 330,
 'UK017M': 331,
 'UK018M': 332,
 'UK023M': 333,
 'UK025M': 334,
 'UK026M': 335,
 'UK027M': 336,
 'UK029M': 337,
 'UK501M': 338,
 'UK506M': 339,
 'UK510M': 340,
 'UK513M': 341,
 'UK515M': 342,
 'UK516M': 343,
 'UK517M': 344,
 'UK518M': 345,
 'UK520M': 346,
 'UK528M': 347,
 'UK539M': 348,
 'UK546M': 349,
 'UK553M': 350,
 'UK559M': 351,
 'UK560M': 352,
 'UK566M': 353,
 'UK568M': 354,
 'UK569M': 355,
 'UK_NM': 356,
 'ME': 357,
 'ME_NM': 358,
 'MK': 359,
 'MK_NM': 360,
 'AL': 361,
 'AL_NM': 362,
 'RS': 363,
 'RS_NM': 364,
 'TR': 365,
 'TR_NM': 366}

In [12]:
info['dimension']['indic_de']['category']['label']["NATGROW"]

'Natural change of population'

In [13]:
info['dimension']['indic_de']['category']['label']["GROW"]

'Total population change'

In [14]:
info['dimension']['indic_de']['category']['label']['CNMIGRATRT']

'Crude rate of net migration plus statistical adjustment'

In [27]:
info['dimension']['metroreg']['category']['index']

{'BE': 0,
 'BE001MC': 1,
 'BE002M': 2,
 'BE003M': 3,
 'BE004M': 4,
 'BE005M': 5,
 'BE007M': 6,
 'BE_NM': 7,
 'BG': 8,
 'BG001MC': 9,
 'BG002M': 10,
 'BG003M': 11,
 'BG004M': 12,
 'BG_NM': 13,
 'CZ': 14,
 'CZ001MC': 15,
 'CZ002M': 16,
 'CZ003M': 17,
 'CZ004M': 18,
 'CZ_NM': 19,
 'DK': 20,
 'DK001MC': 21,
 'DK002M': 22,
 'DK003M': 23,
 'DK004M': 24,
 'DK_NM': 25,
 'DE': 26,
 'DE001MC': 27,
 'DE002M': 28,
 'DE003M': 29,
 'DE004M': 30,
 'DE005M': 31,
 'DE007M': 32,
 'DE008M': 33,
 'DE009M': 34,
 'DE011M': 35,
 'DE012M': 36,
 'DE013M': 37,
 'DE014M': 38,
 'DE017M': 39,
 'DE018M': 40,
 'DE019M': 41,
 'DE020M': 42,
 'DE021M': 43,
 'DE025M': 44,
 'DE027M': 45,
 'DE028M': 46,
 'DE031M': 47,
 'DE032M': 48,
 'DE033M': 49,
 'DE034M': 50,
 'DE035M': 51,
 'DE036M': 52,
 'DE037M': 53,
 'DE038M': 54,
 'DE039M': 55,
 'DE040M': 56,
 'DE042M': 57,
 'DE043M': 58,
 'DE044M': 59,
 'DE045M': 60,
 'DE052M': 61,
 'DE054M': 62,
 'DE057M': 63,
 'DE059M': 64,
 'DE061M': 65,
 'DE064M': 66,
 'DE069M': 67,
 'DE073M': 68,
 'DE074M': 69,
 'DE077M': 70,
 'DE079M': 71,
 'DE083M': 72,
 'DE084M': 73,
 'DE504M': 74,
 'DE507M': 75,
 'DE510M': 76,
 'DE513M': 77,
 'DE517M': 78,
 'DE520M': 79,
 'DE522M': 80,
 'DE523M': 81,
 'DE524M': 82,
 'DE527M': 83,
 'DE529M': 84,
 'DE532M': 85,
 'DE533M': 86,
 'DE534M': 87,
 'DE537M': 88,
 'DE540M': 89,
 'DE542M': 90,
 'DE544M': 91,
 'DE546M': 92,
 'DE548M': 93,
 'DE549M': 94,
 'DE_NM': 95,
 'EE': 96,
 'EE001MC': 97,
 'EE_NM': 98,
 'IE': 99,
 'IE001MC': 100,
 'IE002M': 101,
 'IE_NM': 102,
 'EL': 103,
 'EL001MC': 104,
 'EL002M': 105,
 'EL_NM': 106,
 'ES': 107,
 'ES001MC': 108,
 'ES002M': 109,
 'ES003M': 110,
 'ES004M': 111,
 'ES005M': 112,
 'ES006M': 113,
 'ES007M': 114,
 'ES008M': 115,
 'ES009M': 116,
 'ES010M': 117,
 'ES012M': 118,
 'ES013M': 119,
 'ES014M': 120,
 'ES015M': 121,
 'ES019M': 122,
 'ES020M': 123,
 'ES021M': 124,
 'ES022M': 125,
 'ES025M': 126,
 'ES026M': 127,
 'ES501M': 128,
 'ES510M': 129,
 'ES522M': 130,
 'ES_NM': 131,
 'FR': 132,
 'FR001MC': 133,
 'FR003M': 134,
 'FR004M': 135,
 'FR006M': 136,
 'FR007M': 137,
 'FR008M': 138,
 'FR009M': 139,
 'FR010M': 140,
 'FR011M': 141,
 'FR013M': 142,
 'FR014M': 143,
 'FR015M': 144,
 'FR016M': 145,
 'FR018M': 146,
 'FR019M': 147,
 'FR020M': 148,
 'FR021M': 149,
 'FR022M': 150,
 'FR023M': 151,
 'FR024M': 152,
 'FR025M': 153,
 'FR026M': 154,
 'FR030M': 155,
 'FR035M': 156,
 'FR036M': 157,
 'FR037M': 158,
 'FR038M': 159,
 'FR040M': 160,
 'FR043M': 161,
 'FR044M': 162,
 'FR045M': 163,
 'FR048M': 164,
 'FR203M': 165,
 'FR205M': 166,
 'FR520M': 167,
 'FR_NM': 168,
 'HR': 169,
 'HR001MC': 170,
 'HR005M': 171,
 'HR_NM': 172,
 'IT': 173,
 'IT001MC': 174,
 'IT002M': 175,
 'IT003M': 176,
 'IT004M': 177,
 'IT005M': 178,
 'IT006M': 179,
 'IT007M': 180,
 'IT008M': 181,
 'IT009M': 182,
 'IT010M': 183,
 'IT011M': 184,
 'IT012M': 185,
 'IT016M': 186,
 'IT022M': 187,
 'IT027M': 188,
 'IT028M': 189,
 'IT029M': 190,
 'IT501M': 191,
 'IT502M': 192,
 'IT503M': 193,
 'IT505M': 194,
 'IT511M': 195,
 'IT_NM': 196,
 'CY': 197,
 'CY001MC': 198,
 'LV': 199,
 'LV001MC': 200,
 'LV_NM': 201,
 'LT': 202,
 'LT001MC': 203,
 'LT002M': 204,
 'LT_NM': 205,
 'LU': 206,
 'LU001MC': 207,
 'HU': 208,
 'HU001MC': 209,
 'HU002M': 210,
 'HU004M': 211,
 'HU005M': 212,
 'HU009M': 213,
 'HU_NM': 214,
 'MT': 215,
 'MT001MC': 216,
 'MT_NM': 217,
 'NL': 218,
 'NL001M': 219,
 'NL002MC': 220,
 'NL003M': 221,
 'NL004M': 222,
 'NL005M': 223,
 'NL006M': 224,
 'NL007M': 225,
 'NL008M': 226,
 'NL009M': 227,
 'NL012M': 228,
 'NL015M': 229,
 'NL507M': 230,
 'NL511M': 231,
 'NL_NM': 232,
 'AT': 233,
 'AT001MC': 234,
 'AT002M': 235,
 'AT003M': 236,
 'AT004M': 237,
 'AT005M': 238,
 'AT_NM': 239,
 'PL': 240,
 'PL001MC': 241,
 'PL002M': 242,
 'PL003M': 243,
 'PL004M': 244,
 'PL005M': 245,
 'PL006M': 246,
 'PL007M': 247,
 'PL008M': 248,
 'PL009M': 249,
 'PL010M': 250,
 'PL011M': 251,
 'PL012M': 252,
 'PL014M': 253,
 'PL015M': 254,
 'PL016M': 255,
 'PL024M': 256,
 'PL025M': 257,
 'PL506M': 258,
 'PL514M': 259,
 'PL_NM': 260,
 'PT': 261,
 'PT001MC': 262,
 'PT002M': 263,
 'PT005M': 264,
 'PT_NM': 265,
 'RO': 266,
 'RO001MC': 267,
 'RO002M': 268,
 'RO003M': 269,
 'RO004M': 270,
 'RO501M': 271,
 'RO502M': 272,
 'RO503M': 273,
 'RO504M': 274,
 'RO505M': 275,
 'RO_NM': 276,
 'SI': 277,
 'SI001MC': 278,
 'SI002M': 279,
 'SI_NM': 280,
 'SK': 281,
 'SK001MC': 282,
 'SK002M': 283,
 'SK_NM': 284,
 'FI': 285,
 'FI001MC': 286,
 'FI002M': 287,
 'FI003M': 288,
 'FI_NM': 289,
 'SE': 290,
 'SE001MC': 291,
 'SE002M': 292,
 'SE003M': 293,
 'SE006M': 294,
 'SE_NM': 295,
 'IS': 296,
 'IS_NM': 297,
 'LI': 298,
 'LI_NM': 299,
 'NO': 300,
 'NO001MC': 301,
 'NO002M': 302,
 'NO003M': 303,
 'NO004M': 304,
 'NO_NM': 305,
 'CH': 306,
 'CH001M': 307,
 'CH002M': 308,
 'CH003M': 309,
 'CH004MC': 310,
 'CH005M': 311,
 'CH006M': 312,
 'CH007M': 313,
 'CH_NM': 314,
 'UK': 315,
 'UK001MC': 316,
 'UK002M': 317,
 'UK003M': 318,
 'UK004M': 319,
 'UK005M': 320,
 'UK006M': 321,
 'UK007M': 322,
 'UK008M': 323,
 'UK009M': 324,
 'UK010M': 325,
 'UK011M': 326,
 'UK012M': 327,
 'UK013M': 328,
 'UK014M': 329,
 'UK016M': 330,
 'UK017M': 331,
 'UK018M': 332,
 'UK023M': 333,
 'UK025M': 334,
 'UK026M': 335,
 'UK027M': 336,
 'UK029M': 337,
 'UK501M': 338,
 'UK506M': 339,
 'UK510M': 340,
 'UK513M': 341,
 'UK515M': 342,
 'UK516M': 343,
 'UK517M': 344,
 'UK518M': 345,
 'UK520M': 346,
 'UK528M': 347,
 'UK539M': 348,
 'UK546M': 349,
 'UK553M': 350,
 'UK559M': 351,
 'UK560M': 352,
 'UK566M': 353,
 'UK568M': 354,
 'UK569M': 355,
 'UK_NM': 356,
 'ME': 357,
 'ME_NM': 358,
 'MK': 359,
 'MK_NM': 360,
 'AL': 361,
 'AL_NM': 362,
 'RS': 363,
 'RS_NM': 364,
 'TR': 365,
 'TR_NM': 366}

In [16]:
regions = info['dimension']['metroreg']['category']['index'].keys()
years = info['dimension']["time"]['category']["index"].values()

In [18]:
dfmain = pd.DataFrame([info])

In [25]:
dfnormalize = pd.json_normalize(df["value"])

In [26]:
dfnormalize

,8303,8304,8305,8306,8307,8308,8309,8310,8311,8312,...,25058,25059,25060,25061,25062,25063,25064,25065,25087,25088
0,-9.3,-14.3,-12.6,-12.5,-12.5,-12.6,-13.6,-14.6,-13.4,-10.7,...,1523,1261,344,808,316,296,-235,-734,-1956,-10191

In [29]:
dfnormalize_2 = pd.json_normalize(df['dimension'])

,freq.label,freq.category.index.A,freq.category.label.A,indic_de.label,indic_de.category.index.CNMIGRATRT,indic_de.category.index.GROW,indic_de.category.index.NATGROW,indic_de.category.label.CNMIGRATRT,indic_de.category.label.GROW,indic_de.category.label.NATGROW,...,time.category.label.2013,time.category.label.2014,time.category.label.2015,time.category.label.2016,time.category.label.2017,time.category.label.2018,time.category.label.2019,time.category.label.2020,time.category.label.2021,time.category.label.2022
0,Time frequency,0,Annual,Demographic indicator,0,1,2,Crude rate of net migration plus statistical a...,Total population change,Natural change of population,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022

In [ ]:
lst_index = list(dfindex)

In [ ]:
dfpivot = df.pivot_table(index= lst_index, aggfunc='df')

In [ ]:
df3 = pd.DataFrame([info['value']])

In [ ]:
df3

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [ ]:
dfpivotmain = dfmain.pivot_table(index='value', columns='dimension')

In [ ]:
, values='values', aggfunc='agg_function')

In [ ]:
# Assuming df is your DataFrame
pivot_table = df.pivot_table(index='time', columns='metroreg', values='indic_de')