# INSTALLATIONS / LIBRARIES IMPORT / API CLIENT

In [1]:
pip install eurostatapiclient

Requirement already satisfied: eurostatapiclient in c:\users\oscar\anaconda3\lib\site-packages (0.3.0)
Requirement already satisfied: pandas>=0.23.4 in c:\users\oscar\anaconda3\lib\site-packages (from eurostatapiclient) (2.0.3)
Requirement already satisfied: requests>=2.21.0 in c:\users\oscar\anaconda3\lib\site-packages (from eurostatapiclient) (2.31.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\oscar\anaconda3\lib\site-packages (from pandas>=0.23.4->eurostatapiclient) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\oscar\anaconda3\lib\site-packages (from pandas>=0.23.4->eurostatapiclient) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\oscar\anaconda3\lib\site-packages (from pandas>=0.23.4->eurostatapiclient) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\oscar\anaconda3\lib\site-packages (from pandas>=0.23.4->eurostatapiclient) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\oscar\anaconda3\lib\site-packages (from requests>=2.21.0->eurostatapiclient) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\oscar\anaconda3\lib\site-packages (from requests>=2.21.0->eurostatapiclient) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\oscar\anaconda3\lib\site-packages (from requests>=2.21.0->eurostatapiclient) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\oscar\anaconda3\lib\site-packages (from requests>=2.21.0->eurostatapiclient) (2024.2.2)
Requirement already satisfied: six>=1.5 in c:\users\oscar\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23.4->eurostatapiclient) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Attribution https://github.com/opus-42/eurostat-api-client

In [3]:
pip install geopandas

Requirement already satisfied: geopandas in c:\users\oscar\anaconda3\lib\site-packages (0.14.2)
Requirement already satisfied: fiona>=1.8.21 in c:\users\oscar\anaconda3\lib\site-packages (from geopandas) (1.9.5)
Requirement already satisfied: packaging in c:\users\oscar\anaconda3\lib\site-packages (from geopandas) (23.1)
Requirement already satisfied: pandas>=1.4.0 in c:\users\oscar\anaconda3\lib\site-packages (from geopandas) (2.0.3)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\oscar\anaconda3\lib\site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in c:\users\oscar\anaconda3\lib\site-packages (from geopandas) (2.0.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\oscar\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (22.1.0)
Requirement already satisfied: certifi in c:\users\oscar\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (2024.2.2)
Requirement already satisfied: click~=8.0 in c:\users\oscar\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (8.0.4)
Requirement already satisfied: click-plugins>=1.0 in c:\users\oscar\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in c:\users\oscar\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: six in c:\users\oscar\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: setuptools in c:\users\oscar\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (68.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\oscar\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\oscar\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\oscar\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\oscar\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (1.24.3)
Requirement already satisfied: colorama in c:\users\oscar\anaconda3\lib\site-packages (from click~=8.0->fiona>=1.8.21->geopandas) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install geoplot

Requirement already satisfied: geoplot in c:\users\oscar\anaconda3\lib\site-packages (0.5.1)
Requirement already satisfied: matplotlib>=3.1.2 in c:\users\oscar\anaconda3\lib\site-packages (from geoplot) (3.7.2)
Requirement already satisfied: seaborn in c:\users\oscar\anaconda3\lib\site-packages (from geoplot) (0.12.2)
Requirement already satisfied: pandas in c:\users\oscar\anaconda3\lib\site-packages (from geoplot) (2.0.3)
Requirement already satisfied: geopandas>=0.9.0 in c:\users\oscar\anaconda3\lib\site-packages (from geoplot) (0.14.2)
Requirement already satisfied: cartopy in c:\users\oscar\anaconda3\lib\site-packages (from geoplot) (0.22.0)
Requirement already satisfied: mapclassify>=2.1 in c:\users\oscar\anaconda3\lib\site-packages (from geoplot) (2.5.0)
Requirement already satisfied: contextily>=1.0.0 in c:\users\oscar\anaconda3\lib\site-packages (from geoplot) (1.5.0)
Requirement already satisfied: geopy in c:\users\oscar\anaconda3\lib\site-packages (from contextily>=1.0.0->geoplot) (2.4.1)
Requirement already satisfied: mercantile in c:\users\oscar\anaconda3\lib\site-packages (from contextily>=1.0.0->geoplot) (1.2.1)
Requirement already satisfied: pillow in c:\users\oscar\anaconda3\lib\site-packages (from contextily>=1.0.0->geoplot) (10.0.1)
Requirement already satisfied: rasterio in c:\users\oscar\anaconda3\lib\site-packages (from contextily>=1.0.0->geoplot) (1.3.9)
Requirement already satisfied: requests in c:\users\oscar\anaconda3\lib\site-packages (from contextily>=1.0.0->geoplot) (2.31.0)
Requirement already satisfied: joblib in c:\users\oscar\anaconda3\lib\site-packages (from contextily>=1.0.0->geoplot) (1.2.0)
Requirement already satisfied: xyzservices in c:\users\oscar\anaconda3\lib\site-packages (from contextily>=1.0.0->geoplot) (2022.9.0)
Requirement already satisfied: fiona>=1.8.21 in c:\users\oscar\anaconda3\lib\site-packages (from geopandas>=0.9.0->geoplot) (1.9.5)
Requirement already satisfied: packaging in c:\users\oscar\anaconda3\lib\site-packages (from geopandas>=0.9.0->geoplot) (23.1)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\oscar\anaconda3\lib\site-packages (from geopandas>=0.9.0->geoplot) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in c:\users\oscar\anaconda3\lib\site-packages (from geopandas>=0.9.0->geoplot) (2.0.1)
Requirement already satisfied: scipy>=1.0 in c:\users\oscar\anaconda3\lib\site-packages (from mapclassify>=2.1->geoplot) (1.11.1)
Requirement already satisfied: numpy>=1.3 in c:\users\oscar\anaconda3\lib\site-packages (from mapclassify>=2.1->geoplot) (1.24.3)
Requirement already satisfied: scikit-learn in c:\users\oscar\anaconda3\lib\site-packages (from mapclassify>=2.1->geoplot) (1.3.0)
Requirement already satisfied: networkx in c:\users\oscar\anaconda3\lib\site-packages (from mapclassify>=2.1->geoplot) (3.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\oscar\anaconda3\lib\site-packages (from matplotlib>=3.1.2->geoplot) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\oscar\anaconda3\lib\site-packages (from matplotlib>=3.1.2->geoplot) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\oscar\anaconda3\lib\site-packages (from matplotlib>=3.1.2->geoplot) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\oscar\anaconda3\lib\site-packages (from matplotlib>=3.1.2->geoplot) (1.4.4)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\oscar\anaconda3\lib\site-packages (from matplotlib>=3.1.2->geoplot) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\oscar\anaconda3\lib\site-packages (from matplotlib>=3.1.2->geoplot) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\oscar\anaconda3\lib\site-packages (from pandas->geoplot) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\oscar\anaconda3\lib\site-packages (from pandas->geoplot) (2023.3)
Requirement already satisfied: pyshp>=2.1 in c:\users\oscar\anaconda3\lib\site-packages (from cartopy->geoplot) (2.3.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\oscar\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas>=0.9.0->geoplot) (22.1.0)
Requirement already satisfied: certifi in c:\users\oscar\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas>=0.9.0->geoplot) (2024.2.2)
Requirement already satisfied: click~=8.0 in c:\users\oscar\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas>=0.9.0->geoplot) (8.0.4)
Requirement already satisfied: click-plugins>=1.0 in c:\users\oscar\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas>=0.9.0->geoplot) (1.1.1)
Requirement already satisfied: cligj>=0.5 in c:\users\oscar\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas>=0.9.0->geoplot) (0.7.2)
Requirement already satisfied: six in c:\users\oscar\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas>=0.9.0->geoplot) (1.16.0)
Requirement already satisfied: setuptools in c:\users\oscar\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas>=0.9.0->geoplot) (68.0.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\oscar\anaconda3\lib\site-packages (from geopy->contextily>=1.0.0->geoplot) (2.0)
Requirement already satisfied: affine in c:\users\oscar\anaconda3\lib\site-packages (from rasterio->contextily>=1.0.0->geoplot) (2.4.0)
Requirement already satisfied: snuggs>=1.4.1 in c:\users\oscar\anaconda3\lib\site-packages (from rasterio->contextily>=1.0.0->geoplot) (1.4.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\oscar\anaconda3\lib\site-packages (from requests->contextily>=1.0.0->geoplot) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\oscar\anaconda3\lib\site-packages (from requests->contextily>=1.0.0->geoplot) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\oscar\anaconda3\lib\site-packages (from requests->contextily>=1.0.0->geoplot) (1.26.16)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\oscar\anaconda3\lib\site-packages (from scikit-learn->mapclassify>=2.1->geoplot) (2.2.0)
Requirement already satisfied: colorama in c:\users\oscar\anaconda3\lib\site-packages (from click~=8.0->fiona>=1.8.21->geopandas>=0.9.0->geoplot) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [5]:
#MODULES
from eurostatapiclient import EurostatAPIClient 

VERSION = '1.0'
FORMAT = 'json'
LANGUAGE = 'en'

client = EurostatAPIClient(VERSION, FORMAT, LANGUAGE)

#LIBRARIES
%matplotlib inline

import warnings
warnings.simplefilter(action='ignore', category=UserWarning) 

import pandas as pd
import numpy as np
import xlrd

import geopandas as gpd
import geoplot as gplt
import geoplot.crs as gcrs

import matplotlib.pyplot as plt
from matplotlib.pyplot import cm 

import plotly.express as px
import plotly.graph_objects as go

# DATA

In [6]:
dataset = client.get_dataset('met_gind3')
print(dataset.label)

df = dataset.to_dataframe()
print(df.head())

Demographic balance and crude rates by metropolitan regions
    values freq  indic_de metroreg  time
0  12836.0    A  CNMIGRAT       BE  2000
1  34386.0    A  CNMIGRAT       BE  2001
2  38665.0    A  CNMIGRAT       BE  2002
3  33611.0    A  CNMIGRAT       BE  2003
4  33392.0    A  CNMIGRAT       BE  2004

In [7]:
def df_caracterization():
    print(f'Caracterization:')
    df.info()
    print(f'Rows and Columns: {df.shape}')
    df.reset_index()
    return df.head(5)

In [8]:
df_caracterization()

Caracterization:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92851 entries, 0 to 92850
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   values    47237 non-null  float64
 1   freq      92851 non-null  object
 2   indic_de  92851 non-null  object
 3   metroreg  92851 non-null  object
 4   time      92851 non-null  object
dtypes: float64(1), object(4)
memory usage: 3.5+ MB
Rows and Columns: (92851, 5)

    values freq  indic_de metroreg  time
0  12836.0    A  CNMIGRAT       BE  2000
1  34386.0    A  CNMIGRAT       BE  2001
2  38665.0    A  CNMIGRAT       BE  2002
3  33611.0    A  CNMIGRAT       BE  2003
4  33392.0    A  CNMIGRAT       BE  2004

### STANDARIZATION & DATA SELECTION

- Rename columns.
- Remove all empty rows, and innecessary columns as freq. (All annual frequency)
- Demographic dataframe creation

In [9]:
df.rename(columns={"indic_de": "indicator"}, inplace = True)
trash = ["freq"]
df = df.drop(trash, axis=1)
df = df.dropna(how='all')

In [10]:
df.tail(5)

       values  indicator metroreg  time
92846     NaN  NATGROWRT    TR_NM  2018
92847     NaN  NATGROWRT    TR_NM  2019
92848     NaN  NATGROWRT    TR_NM  2020
92849     NaN  NATGROWRT    TR_NM  2021
92850     NaN  NATGROWRT    TR_NM  2022

In [11]:
def explore_duplicates(df):
    duplicate_rows = df.duplicated().sum()
    print(f"There are {df.duplicated().sum()} duplicate rows. Also;")  
def explore_nan(df):
    nan_values = df.isna().sum()
    empty_spaces = df.eq(' ').sum()
    exploration = pd.DataFrame({"NaN": nan_values, "EmptySpaces": empty_spaces}) # New dataframe with the results
    return exploration

In [12]:
explore_duplicates(df)
explore_nan(df)

There are 0 duplicate rows. Also;

             NaN  EmptySpaces
values     45614            0
indicator      0            0
metroreg       0            0
time           0            0

In [13]:
df2 = df.dropna(axis=0)

In [14]:
explore_duplicates(df2)
explore_nan(df2)

There are 0 duplicate rows. Also;

           NaN  EmptySpaces
values       0            0
indicator    0            0
metroreg     0            0
time         0            0

In [15]:
df2.shape

(47237, 4)

### DF INDICATOR SELECTOR

In [16]:
df2["indicator"].unique()

array(['CNMIGRAT', 'CNMIGRATRT', 'DEATH', 'GBIRTHRT', 'GDEATHRT', 'GROW',
       'GROWRT', 'JAN', 'LBIRTH', 'NATGROW', 'NATGROWRT'], dtype=object)

In [17]:
indicator_selector = ['NATGROW', 'CNMIGRAT']
df2 = df2[df2['indicator'].map(lambda x: x in indicator_selector)]

In [18]:
df2.shape

(14183, 4)

### BANANAS CREATION

In [19]:
df2["metroreg"].unique()

array(['BE', 'BE001MC', 'BE002M', 'BE003M', 'BE004M', 'BE005M', 'BE007M',
       'BE_NM', 'BG', 'BG001MC', 'BG002M', 'BG003M', 'BG004M', 'BG_NM',
       'CZ', 'CZ001MC', 'CZ002M', 'CZ003M', 'CZ004M', 'CZ_NM', 'DK',
       'DK001MC', 'DK002M', 'DK003M', 'DK004M', 'DK_NM', 'DE', 'DE001MC',
       'DE002M', 'DE003M', 'DE004M', 'DE005M', 'DE007M', 'DE008M',
       'DE009M', 'DE011M', 'DE012M', 'DE013M', 'DE014M', 'DE017M',
       'DE018M', 'DE019M', 'DE020M', 'DE021M', 'DE025M', 'DE027M',
       'DE028M', 'DE031M', 'DE032M', 'DE033M', 'DE034M', 'DE035M',
       'DE036M', 'DE037M', 'DE038M', 'DE039M', 'DE040M', 'DE042M',
       'DE043M', 'DE044M', 'DE045M', 'DE052M', 'DE054M', 'DE057M',
       'DE059M', 'DE061M', 'DE064M', 'DE069M', 'DE073M', 'DE074M',
       'DE077M', 'DE079M', 'DE083M', 'DE084M', 'DE504M', 'DE507M',
       'DE510M', 'DE513M', 'DE517M', 'DE520M', 'DE522M', 'DE523M',
       'DE524M', 'DE527M', 'DE529M', 'DE532M', 'DE533M', 'DE534M',
       'DE537M', 'DE540M', 'DE542M', 'DE544M', 'DE546M', 'DE548M',
       'DE549M', 'DE_NM', 'EE', 'EE001MC', 'EE_NM', 'IE', 'IE001MC',
       'IE002M', 'IE_NM', 'EL', 'EL001MC', 'EL002M', 'EL_NM', 'ES',
       'ES001MC', 'ES002M', 'ES003M', 'ES004M', 'ES005M', 'ES006M',
       'ES007M', 'ES008M', 'ES009M', 'ES010M', 'ES012M', 'ES013M',
       'ES014M', 'ES015M', 'ES019M', 'ES020M', 'ES021M', 'ES022M',
       'ES025M', 'ES026M', 'ES501M', 'ES510M', 'ES522M', 'ES_NM', 'FR',
       'FR001MC', 'FR003M', 'FR004M', 'FR006M', 'FR007M', 'FR008M',
       'FR009M', 'FR010M', 'FR011M', 'FR013M', 'FR014M', 'FR015M',
       'FR016M', 'FR018M', 'FR019M', 'FR020M', 'FR021M', 'FR022M',
       'FR023M', 'FR024M', 'FR025M', 'FR026M', 'FR030M', 'FR035M',
       'FR036M', 'FR037M', 'FR038M', 'FR040M', 'FR043M', 'FR044M',
       'FR045M', 'FR048M', 'FR203M', 'FR205M', 'FR520M', 'FR_NM', 'HR',
       'HR001MC', 'HR005M', 'HR_NM', 'IT', 'IT001MC', 'IT002M', 'IT003M',
       'IT004M', 'IT005M', 'IT006M', 'IT007M', 'IT008M', 'IT009M',
       'IT010M', 'IT011M', 'IT012M', 'IT016M', 'IT022M', 'IT027M',
       'IT028M', 'IT029M', 'IT501M', 'IT502M', 'IT503M', 'IT505M',
       'IT511M', 'IT_NM', 'CY', 'CY001MC', 'LV', 'LV001MC', 'LV_NM', 'LT',
       'LT001MC', 'LT002M', 'LT_NM', 'LU', 'LU001MC', 'HU', 'HU001MC',
       'HU002M', 'HU004M', 'HU005M', 'HU009M', 'HU_NM', 'MT', 'MT001MC',
       'MT_NM', 'NL', 'NL001M', 'NL002MC', 'NL003M', 'NL004M', 'NL005M',
       'NL006M', 'NL007M', 'NL008M', 'NL009M', 'NL012M', 'NL015M',
       'NL507M', 'NL511M', 'NL_NM', 'AT', 'AT001MC', 'AT002M', 'AT003M',
       'AT004M', 'AT005M', 'AT_NM', 'PL', 'PL001MC', 'PL002M', 'PL003M',
       'PL004M', 'PL005M', 'PL006M', 'PL007M', 'PL008M', 'PL009M',
       'PL010M', 'PL011M', 'PL012M', 'PL014M', 'PL015M', 'PL016M',
       'PL024M', 'PL025M', 'PL506M', 'PL514M', 'PL_NM', 'PT', 'PT001MC',
       'PT002M', 'PT005M', 'PT_NM', 'RO', 'RO001MC', 'RO002M', 'RO003M',
       'RO004M', 'RO501M', 'RO502M', 'RO503M', 'RO504M', 'RO505M',
       'RO_NM', 'SI', 'SI001MC', 'SI002M', 'SI_NM', 'SK', 'SK001MC',
       'SK002M', 'SK_NM', 'FI', 'FI001MC', 'FI002M', 'FI003M', 'FI_NM',
       'SE', 'SE001MC', 'SE002M', 'SE003M', 'SE006M', 'SE_NM', 'IS',
       'IS_NM', 'LI', 'LI_NM', 'NO', 'NO001MC', 'NO002M', 'NO003M',
       'NO004M', 'NO_NM', 'CH', 'CH001M', 'CH002M', 'CH003M', 'CH004MC',
       'CH005M', 'CH006M', 'CH007M', 'CH_NM', 'UK', 'UK001MC', 'UK002M',
       'UK003M', 'UK004M', 'UK005M', 'UK006M', 'UK007M', 'UK008M',
       'UK009M', 'UK010M', 'UK011M', 'UK012M', 'UK013M', 'UK014M',
       'UK016M', 'UK017M', 'UK018M', 'UK023M', 'UK025M', 'UK026M',
       'UK027M', 'UK029M', 'UK501M', 'UK506M', 'UK510M', 'UK513M',
       'UK515M', 'UK516M', 'UK517M', 'UK518M', 'UK520M', 'UK528M',
       'UK539M', 'UK546M', 'UK553M', 'UK559M', 'UK560M', 'UK566M',
       'UK568M', 'UK569M', 'UK_NM', 'ME', 'ME_NM', 'MK', 'MK_NM', 'AL',
       'AL_NM', 'RS', 'RS_NM', 'TR', 'TR_NM'], dtype=object)

In [20]:
blue_gold = ["AT","UK", "FR", "BE", "DE", "NL","LU", "IT", "ES"]
df2 = df2[df2['metroreg'].str.startswith(tuple(blue_gold))]

In [21]:
df2.shape

(8919, 4)

In [22]:
blue = ['BE001MC', 'BE002M', 'BE003M', 'BE004M',
       'BE005M', 'BE007M', 'BE_NM', 'DE003M', 'DE004M', 'DE005M',"UK001MC","UK569M","UK546M","UK017M","UK513M","UK520M","UK019M","UK017M","UK515M", "UK560M" "UK023M", "UK025M","UK539M","UK528M","DE549M","DE038M","DE504M","DE045M","DE546M","DE004M", "DE034M", "DE548M", "DE507M", "DE042M", "DE079M", "DE057M","DE020M", "DE037M", "DE005M", "DE025M", "DE061M", "DE524M", "DE077M", "DE040M", "DE044M", "DE084M", "DE522M", "DE529M", "DE035M", "DE533M", "DE007M", "DE073M", "DE027M", "DE054M", "DE532M", "DE537M", "DE059M", "DE014M", "DE534M", "DE028M", "DE003M", "DE033M", "DE069M","AT004M","AT005M","FR009M", "FR014M", "FR016M", "FR006M", "FR040M", "IT002M", "IT511M", "IT029M", "IT012M", "IT028M", "IT011M"]

In [23]:
gold = ["ES005M","ES007M","ES021M", "ES003M", "ES002M", "ES010M", "FR043M", "FR010M","FR044M","FR203M", "FR205M", "FR026M" "FR004M","IT004M", "IT006M", "IT503M", "IT505M", "IT009M", "IT502M", "IT007M"]

In [24]:
dfb = df2[df2['metroreg'].apply(lambda x: x in blue)]
dfg = df2[df2['metroreg'].apply(lambda x: x in gold)]

In [25]:
dfb.shape

(2815, 4)

In [26]:
dfg.shape

(783, 4)

# GEODATA

In [27]:
dfnut = gpd.read_file("NUTS_RG_20M_2021_3035.geojson")

DriverError: NUTS_RG_20M_2021_3035.geojson: No such file or directory

In [ ]:
dfnut = dfnut.drop(columns=['CNTR_CODE', 'NAME_LATN', 'NUTS_NAME', 'MOUNT_TYPE', 'URBN_TYPE', 'COAST_TYPE'])
dfnut.columns = dfnut.columns.str.lower().str.replace(" ","_")

In [ ]:
dfnut

In [ ]:
dfcodenut = pd.read_excel("NUTS_Tipologies.xlsx")

In [ ]:
dfcodenut.columns = dfcodenut.columns.str.lower().str.replace(" ","_")

In [ ]:
dfcodenut = dfcodenut[dfcodenut["metro_region_corresponding_to_the_nuts"] == "Y"]

In [ ]:
dfcodenut["nuts_3_id_(2010)"].unique()

In [ ]:
dfnexusnut = dfcodenut_2.rename(columns={"metro_region_code": "metroreg", "nuts_3_id_(2010)": "nuts_id"})

In [ ]:
#dfcodenut = dfcodenut[dfcodenut["rural_-_urban_typology"] != "Intermediate region"]

In [ ]:
dfcode_blue = dfnexusnut[dfnexusnut['metroreg'].apply(lambda x: x in blue)]
dfcode_gold = dfnexusnut[dfnexusnut['metroreg'].apply(lambda x: x in gold)]

In [ ]:
dfbcode = pd.merge(dfb,dfcode_blue, on = 'metroreg', how = "outer")
dfgcode= pd.merge(dfg,dfcode_gold, on = 'metroreg', how = "outer")

In [ ]:
dfgeoblue = pd.merge(dfnut,dfbcode, on = 'nuts_id', how = "inner")
dfgeogolden = pd.merge(dfnut,dfgcode, on = 'nuts_id', how = "inner")

In [ ]:
dfnut["nuts_id"].nunique()

In [ ]:
dfgeoblue = dfgeoblue.drop(columns = ["id", "levl_code", "fid"])
dfgeoblue = dfgeoblue[["nuts_id","metroreg","metro_region_name", "indicator","values", "time","geometry"]]
dfgeoblue

In [ ]:
dfgeogolden["nuts_id"].unique()

In [ ]:
dfgeogolden = dfgeogolden.drop(columns = ["id", "levl_code", "fid"])
dfgeogolden = dfgeogolden[["nuts_id","metroreg","metro_region_name", "indicator","values", "time","geometry"]]
dfgeogolden

In [ ]:
df_geobluenatgrow = dfgeoblue[dfgeoblue["indicator"] == "NATGROW"]

In [ ]:
df_geogoldennatgrow = dfgeogolden[dfgeogolden["indicator"] == "NATGROW"]

In [ ]:
df_geobluenatgrow.plot("values", legend = True, cmap = "ocean_r", figsize = (20,15))

In [ ]:
df_geogoldennatgrow.plot("values", legend = True, cmap = 'autumn', figsize = (20,15))

In [ ]:
df_geobluenatinmgrow = dfgeoblue[dfgeoblue["indicator"] == "CNMIGRAT"]

In [ ]:
df_geogoldennatinmgrow = dfgeogolden[dfgeogolden["indicator"] == "CNMIGRAT"]

In [ ]:
df_geobluenatinmgrow.plot("values", legend = True, cmap = "ocean_r",figsize = (20,15))

In [ ]:
df_geogoldennatinmgrow.plot("values", legend = True, cmap = 'autumn', figsize = (20,15))

In [ ]:
dfgeoblue.plot("values", legend = True, figsize = (20,15))

In [ ]:
dfgeogolden.plot("values", legend = True, figsize = (20,15))

In [ ]:
dfgeoblue["envolvente"] = dfgeoblue.convex_hull

In [ ]:
dfgeoblue["envolvente"].plot(alpha = 0.5, color = "blue", linewidth = 0.5)  #Guarda esto en variables

In [ ]:
dfgeogolden["envolvente"] = dfgeogolden.convex_hull

In [ ]:
dfgeogolden["envolvente"].plot(alpha = 0.5, color = "gold" , linewidth = 1) #Guarda esto en variables

In [ ]:
fig = px.choropleth(dfbcode, geojson=dfgeoblue, locations='time', color='values',
                           color_continuous_scale="Viridis",
                           range_color=(0, 12),
                           scope="europe",
                           labels={'unemp':'unemployment rate'}
                    )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()